<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Save new Company</title>
</head>
<body>
    <!--/*@thymesVar id="emptyCompany" type="crud_lms"*/-->
    <form action="#"
          th:action="@{/api/companies/save}"
          method="post"
          th:object="${emptyCompany}">

        <label for="companyName">Company Name</label>
        <!--/*@thymesVar id="companyName" type="crud_lms.models.Company"*/-->
        <input id="companyName" th:field="${emptyCompany.companyName}" placeholder="company_name">
        <br><br>

        <label for="locatedCountry">Country</label>
        <input id="locatedCountry" th:field="${emptyCompany.locatedCountry}" placeholder="company_location">
        <br><br>

        <button type="submit">save company</button>
    </form>

    <div>
        <a th:href="@{/api/companies}">
            <button>go back</button>
        </a>
    </div>


</body>
</html>